.home-page--body-section {
  height: 140vh;
  background-color: rgb(0, 5, 13);
  color: white;
}

.home-page--main-section {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 72px;
}
.home-page--movie-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
